#rplayerDownloads {
    opacity: 0;
    display: none;
    color: var(--downloadsTextColor);
    background-color: var(--downloadsBg);
    position: fixed !important;
    width: 100%;
    height: 100%;
    z-index: var(--wordsZIndex);
    text-shadow: .1em .1em .1em black;
    user-select: none;
}

#rplayerDownloads div:first-child:not(.fieldsetBox) {
    display: flex;
    padding: 1em;
    justify-content: safe center;
    align-items: safe center;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
}

#rplayerDownloads div:first-child:not(.fieldsetBox) div:first-child:not(.fieldsetBox) {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    height: auto;
    padding-bottom: 3em;
}

#rplayerDownloads .segment {
    background-color: transparent;
    text-align: center;
    width: 100%;
}

#rplayerDownloads .toggle.checkbox {
    width: 100%;
    margin-bottom: .3em;
}

#rplayerDownloads .toggle.checkbox:last-child {
    margin-bottom: 0;
}

#rplayerDownloads .segment label {
    color: #fff !important;
    white-space: nowrap;
}

#rplayerDownloads fieldset {
    border-radius: 2em;
    width: min-content;
    border-color: var(--currentTime);
    padding: .5em 1em 1em 1em;
    margin: 1em;
    text-align: left;
    background-color: var(--downloadsBg);
    box-shadow: var(--downloadsBoxShadow);
}

#rplayerDownloads .fieldsetBox {
    position: relative;
    max-width: 100%;
    overflow: auto;
    width: fit-content;
    padding: 0;
    margin: 0;
}

#rplayerDownloads h2 {
    position: fixed;
    top: 1em;
    font-weight: normal;
    width: 100%;
    padding-bottom: .5em;
    text-align: center;
    border-bottom: 1px solid var(--currentTime);
}

#rplayerDownloads .infoText {
    display: inline-block;
    color: var(--currentTime);
    margin-bottom: 2em;
    max-width: 35em;
}

#rplayerDownloads .downloadsButtons {
    position: fixed;
    display: flex;
    z-index: 250;
    margin-top: 2em;
    bottom: 0;
    left: 0;
    width: 100vw;
}

#rplayerDownloads .ui.inverted.form {
    padding-bottom: 0 !important;
    padding-top: 2em !important;
}

.ui.teal.progress {
    opacity: 0;
    position: fixed;
    left: 0;
    top: -1em;
    right: 0;
    height: .5em;
    z-index: 500;
}

.ui.teal.progress .bar {
    height: .5em;
    background-color: var(--currentTime) !important;
    border-radius: 0;
}